* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 64px;
}

h2 {
  font-size: 1.5rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  font-size: 1.24rem;
  padding: 64px 32px;
  margin-top: 32px;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  height: 100%;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 8 32px 16px 32px;
  margin-top: 64px;
}

.indented-heading {
  width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 16px 16px 40px;
  margin-left: -40px;
}

.max-width-wrapper {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
